//Modified from: https://github.com/kOFReadie/Cloud/blob/main/src/files/index.scss
.directoryListingContainer
{
    width: 100%;
    padding-top: 20px;
    border-spacing: 0;

    th
    {
        padding: 0px 10px 15px 10px;
        text-align: left;
        font-weight: bold;
        border-bottom: 2px solid rgba(var(--foregroundColour), 1);
    }

    td
    {
        padding-left: 10px;
        
        p
        {
            font-weight: normal;
        }
    }

    .listItem
    {
        $listItemIntitialHeight: 50px;
        min-height: $listItemIntitialHeight;
        max-height: $listItemIntitialHeight;
        height: $listItemIntitialHeight;
        cursor: pointer;
        user-select: none;
        &:hover
        {
            background-color: rgba(var(--backgroundAltColour), 1);
        }
    }

    //Split into 10 segments
    $segment: 100/10;
    //This isnt quite right but it should do.
    .nameColumn
    {
        text-align: left;
        font-weight: bold;
        //Fix this.
        width: ($segment*5)+0%;

        &:not(th)
        {
            > input
            {
                font-weight: bold;
                font-size: 1.32rem;
            }
        }

        td:first-of-type
        {
            padding-left: 0px;
        }
    }

    .typeColumn
    {
        > input
        {
            //TMP
            pointer-events: none;
        }
    }

    .typeColumn, .dateColumn, .sizeColumn
    {
        width: ($segment*1.25)+0%;
    }

    .typeColumn, .dateColumn, .sizeColumn, .optionsColumn
    {
        text-align: left;
        //width: (100/10)+0%;

        &:not(th)
        {
            font-weight: normal;
            // text-align: right;
        }
    }

    .optionsColumn
    {
        //text-align: right;
        //width: ($segment*1.25)+0%;
        button
        {
            font-weight: normal;
        }
        
        .red
        {
            &:hover
            {
                background-color: red;
                color: white;
            }
        }
    }
}

#filePreviewContainer
{
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
    width: 100%;
    height: 100%;

    > .background
    {
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        backdrop-filter: blur(2px);
    }

    > #filePreview
    {
        z-index: 11;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        border: 1px solid rgba(var(--foregroundColour), 1);
        background-color: rgba(var(--backgroundColour), 1);
        width: 75%;
        height: 75%;
        max-width: 90%;
        max-height: 90%;
    }
}

#sharingMenu
{
    display: none;
    z-index: inherit;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;
    width: 100%;
    height: 100%;

    > .background
    {
        z-index: 10;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        backdrop-filter: blur(2px);
    }

    > .container
    {
        z-index: 20;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        border: 1px solid rgba(var(--foregroundColour), 1);
        background-color: rgba(var(--backgroundColour), 1);
        padding: 5px 20px 20px 20px;
        min-width: max-content;
        width: 500px;
        height: max-content;
        max-width: 90%;
        max-height: 90%;

        > form
        {
            > table
            {
                width: 100%;
            }
        }

        p
        {
            margin-top: 0;
        }
    }

    tr
    {
        width: 99%; //Easier to do this than change the padding on some elements.
        display: inline-table;
    }
}

// #loadingMessage
// {
//     display: none;
// }

#googleInviteList > li
{
    &:hover
    {
        color: red;
    }
}